@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


@font-face {
    font-family: "Fablescript";
    src: url("/fonts/fablescript.ttf");
    font-style: bold;
    font-weight: 600;
    font-display: swap;
}

.title {
    font-family: 'Fablescript', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #F6F8FD;
}